 <div class="container-fluid">
     <div class="overlay">
         <app-search-form (searchOutput)= "searchs($event)"></app-search-form>
         <div class="content">
             <div class="row">
                 <div class="col-sm-3" id="imagecard">
                    <div class="userphoto">
                        <div class="card-img-top">
                            <img src="{{user.avatar_url}}" alt="">
                        </div>
                    </div>
                 </div>
                 <div class="col-sm-5 user">
                     <div class="card" appHighlight>
                        <div class="card-body">
                            <h4>Git-Search: {{user.login}}</h4>
                            <hr>
                            <h6> Repositories: <span class="follow">{{user.public_repos}}</span></h6>
                            <hr>
                            <h6>Following: <span class="follow">{{user.following}}</span></h6>
                            <hr>
                            <h6>Followers: <span class="follow">{{user.followers}}</span></h6>
                            <hr>
                            <h6>Joined: <span class="datejoined">{{user.created_at | datePipe}}</span></h6>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center repos" id="repositories">
            <h3>Repositories</h3>
        </div>
        <div class="container allrepos">
        <div class="card" appHighlight *ngFor="let repository of repo" style="width: 20rem;" class="repo">
            <div class="card-body">
                <h4 class="card-title"> Repo Name &nbsp;{{repository.name}}</h4>
                <hr>
                <h5 class="describe-repo"><strong>Description</strong>{{repository.description}}</h5>
                <h5>Language: {{repository.language}}</h5>
                <h5>Created&nbsp; <span id="created">{{repository.created_at | datePipe}} &nbsp;  On:</span> &nbsp;{{repository.created_at | date}}</h5>
                <div class="card-footer">

                    <div class="btn-group" role="group" aria-label="Third group">
                        <button class="btn btn-sm btn-info">&nbsp;<span class="forks">{{repository.watchers_count}}</span>Count</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                      <button class="btn btn-sm btn-outline-danger"> &nbsp;<span class="forks">{{repository.forks}}</span>Forks</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                      <button class="btn btn-sm btn-success" id="visit"><a href="{{repository.html_url}}" class="card-link">VIEW</a></button> 
                    </div>

                </div>
            </div>
        </div>
    </div>
 </div>
