*{
    font-family: 'Times New Roman', Times, serif;
   
}
.card-body .Gs{
    font-size: 25px;
    font-weight: bolder;
}
.card-body h6{
    font-size: 20px;
    font-weight: bolder;
}
.user{
    margin-left: 10%;
    /* background-color: ; */
}
.allrepos{
    width: 4000px;
    flex-wrap: wrap;
    display: flex;
    /* flex: auto; */
    padding-right: 2%;
     
}
.repo{
    margin-right: 3%;
    margin-bottom: 2%;
}
.btn-group{
    margin-right: 3%;
}
 