<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <form class="form form-inline active-cyan-4">
                <input class="form-control form-control-sm mr-4 w-50" type="text" placeholder="Enter github username" name="searchName" [(ngModel)]="searchName" aria-label="Search">
                <button class="btn btn-information btn-md" (click)="search()">Search</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>







    